@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family:'Roboto', sans-serif;
    background-color: #E5E5E5;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ion-icon {
    cursor: pointer;
}
.logo-mobile {
    display: none;
}
.navegacao-inferior-mobile {
    display: none;
}
.separator {
    height: 22px;
    width: 1px;
    background-color: #dbdbdb;
}
.medium50012px {
    font-size: 12px;
    font-weight: 500;
}
.regular40012px {
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
}
.medium50012px:first-child {
    color: #8E8E8E;
}
.medium50012px {
    color: #262626;
}
strong {
    font-weight: bold;
}
.container {
    width: 100%;
    height: auto;
    margin: 88px auto 0 auto;
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #DBDBDB;
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 935px;
    height: 54px;
    margin: 0 auto;
}
.icone-esquerda {
    display: flex;
    align-items: center;
    justify-content: center;

}
.icone-esquerda img {
    margin-left: 10px;
}
.icone-esquerda ion-icon {
    margin-right: 10px;
}
.barra-pesquisa {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 218px;
    height: 28px;
    text-align: center;
}
.icones-direita {
    display: flex;
    justify-content: space-between;
    width: 128px;
}
.conteudo {
    display: flex;
    width: 935px;
    height: auto;
}
.conteudo-esquerda {
    width: 614px;
    
}
.stories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    height: 118px;
    position: relative;
}
.setinha {
    position: absolute;
    right: 0;
    color: #fff;
    
}

.storie {
    width: 66px;
    margin-right: 20px;
    
    
}
.storie:first-child {
    margin-left: 18px;
}
.storie p {
    display: flex;
    text-align: center;
    font-size: 12px;
    max-width: 78px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

} 
.storie-main {
    width: 66px;
    height: 67px;
    border: double 2px transparent;
    border-radius: 80px;
    position: relative;
    margin-left: 2.5px;
    margin-top: 1.5px;
}
.storie-background img {
    position: absolute;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: transparent;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 285px;
    margin-left: 30px;
    padding-top: 24px;
    position: fixed;
    top: calc(54px + 34px);
}
.perfil {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:flex-start;
}
.usuario {
    font-weight: bold; 
    font-size: 14px; 
    margin-bottom: 5px;
}
.copyright p {
    font-size: 11px;
    font-weight: 400;
    color: #a09c9c;
    margin-top: 18px;
}
.barra-superior-left .usuario {
    margin: 0 0 0 15px;
}
.usuario-name {
    font-weight: lighter; 
    font-size: 14px;
}
.sugestoes {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.sugestoes-para-voce {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.sugestoes-caixa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.sugestoes-caixa-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sugestoes-caixa-left img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.seguir {
    display: flex;
    align-items: center;
}
.seguir a {
    color:#139EF2;
    font-size: 12px;
    font-weight:500;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.seguir a:hover {
    color: #71bbec;
    
}
.perfil-descricao {
    margin-left: 10px;
}
.perfil img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.coluna-posts {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 10px;
}
.posts {
    background-color: white;
    height: auto;
    border: 1px solid #DBDBDB;
    width: 614px;
    margin-bottom: 50px;
}
.posts img {
    width: 100%;
    height: 614px;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 61px;

}
.barra-superior-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
}

.barra-superior img {
    width: 32px;
    height: 32px;
    margin-left: 17px;
    border-radius: 50%;
}
.barra-superior ion-icon {
    margin-right: 17px;
    font-weight: bold;
}

.barra-inferior {
    width: 100%;
}
.barra-inferior img {
    width: 20px;
    height: 20px;
}
.barra-inferior-icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
}
.barra-inferior-curtidas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 14px 14px;
}
.barra-inferior-curtidas p {
    margin-left: 14px;
}
.icones-left {
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.comentarios {
    margin-top: 15px;
}
.usuario-com-frase {
    display: flex;
    margin: 14px 0 0 14px;
    font-size: 14px;
}
.frase {
    margin-left: 6px;
    font-size: 14px;
    color: #262626;
}
.ver-comentarios {
    font-size: 14px;
    color: #8e8e8e;
    margin: 3px 0 0 14px;
}
.comentario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.amigo-comentario {
    display: flex;
    margin-left: 14px;
    margin-top: 5px;
}
.like-comentario {
    margin-right: 14px;
}
.tempo-atras {
    font-size: 10px;
    color: #8e8e8e;
    margin-left: 14px;
    
    margin-top: 5px;
    text-transform: uppercase;
}
.linha-horizontal {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #f5f6f7;
}
.publicar-comentario {
    display: flex;
    align-items: center;
    height: 53px;
    margin-left: 14px;
    justify-content: space-between;
    
}
.publicar-comentario ion-icon {
    font-size: 23px;
}
.publicar-comentario input {
    border: none;
    width: 100%;
    margin-left: 14px;
    font-size: 15px;
}
.publicar {
    font-size: 14px;
    color: #B2DFFC;
    margin-right: 14px;
    transition: all 0.3s ease;
    margin-left: 7px;
}
.publicar:hover {
    color: #0095F6;
}




.setinha ion-icon {
    font-size: 32px;
}
nav ion-icon {
    font-size: 22px;
}
.barra-inferior-icones ion-icon {
    font-size: 18px;
}
.barra-superior ion-icon {
    font-size: 18px;
}












@media (max-width: 935px) {
    .conteudo-direita {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .conteudo {
        justify-content: center;
        
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 88px auto 0 auto;
    }
    .posts {
        width: 598.5px;
    }
    .stories {
        width: 598.5px;
    }
    .barra-superior img {
        width: 32px;
        height: 32px;
    }
    .icone-esquerda {
        margin-left: 21px;
    }
    .icones-direita {
        margin-right: 18px;
    }
}
@media (max-width: 614px) {
    .container {
        margin-top: 54px;
        flex-direction: column;
    }
    .conteudo {
        width: 100%;
    }
    .conteudo-esquerda {
        width: 100%;
    }
    .stories {
        width: 100%;
        height: 121px;
        border-radius: 0;
        background-color: #E5E5E5;
    }
    .setinha {
        display: none;
    }
    .posts {
        width: 100%;
    }
    .posts img {
        height: 100%;
    }
    .coluna-posts {
        margin-top: 0;
    }
    .icones-direita {
        justify-content: flex-end;
        width: 20px;
    }
    .icones-direita ion-icon:nth-child(2),
    .icones-direita ion-icon:nth-child(3),
    .icones-direita ion-icon:nth-child(4),
    .icone-esquerda img {
        display: none;
        justify-content: flex-end;
    }
    .icone-esquerda {
        margin-left: 13px;
    }
    .icones-direita {
        margin-right: 13px;
    }
    .barra-superior-left img {
        height: 32px;
    }
    .barra-inferior-curtidas p {
        font-size: 15px;
    }
    .barra-inferior-icones {
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .barra-pesquisa {
        display: none;
    }
    .logo-mobile {
        display: block;
        width: 100%;
        text-align: center;
    }
    .navegacao-inferior-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 54px;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        z-index: 1;
    }
    .icones-inferior {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .icones-inferior ion-icon {
        font-size: 22px;
    }
    .icones-inferior:first-child {
        margin-left: 24px;
    }
    .icones-inferior:last-child {
        margin-right: 22px;
    }
    .ver-comentarios {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}








